/* General Styles */
html {
    color: #fff;
    background-image: url("bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

a {
    color: #46c8fc;
    text-decoration: none;
}

a.image-index-link {
    color: #982dfc;
}

a.dir-index-link {
    color: #fc982d;
}

a:hover {
    color: #bfbfbf;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background-color: #1b212d;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

header a.logo {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}

header nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav li {
    margin-left: 30px;
}

header nav li:first-child {
    margin-left: 0;
}

header nav li a {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}

header nav li a:hover {
    color: #bfbfbf;
}

/* Main */
main {
    margin-top: 80px;
    padding: 50px;
}

/* Footer */
footer {
    background-color: #1b212d;
    color: #fff;
    font-size: 14px;
    padding: 20px;
    text-align: center;
}

footer a {
    color: #fff;
    text-decoration: underline;
}

footer a:hover {
    color: #bfbfbf;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

.navigation a {
    color: #fff;
    text-decoration: none;
    margin-left: 10px;
    font-size: 18px;
}

.navigation a:hover {
    text-decoration: underline;
}

.navigation i {
    margin-right: 10px;
}


/* Style for the top section */
.character-info {
    padding: 20px;
    border-radius: 5px;
    color: #ffffff;
    margin-bottom: 20px;
    overflow: auto;
}

/* Style for the labels */
.character-info span {
    display: inline-block;
    font-weight: bold;
    margin-right: 10px;
    width: 100px;
}

/* Style for the name field */
.character-info h2 {
    font-size: 32px;
    color: #00a8ff;
    margin-bottom: 10px;
}

/* Style for the class and level field */
.character-info p {
    font-size: 18zpx;
    margin-bottom: 10px;
}


.character-info .character-img {
    float: right;
    margin: 0 0 10px 10px;
    width: 540px;
    /* adjust this value as needed */
    height: 540px;
    /* adjust this value as needed */
    border-radius: 50%;
    border: 3px solid #ddd;
}

/* Style for the header section */
.dnd-header h1 {
    font-size: 2rem;
    color: #00a8ff;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px;
    font-style: bold;
}

/* Style for the tables section */
.dnd-table h3 {
    font-size: 1.6rem;
    color: #00a8ff;
    margin-top: 0;
    margin-bottom: 15px;
}

.dnd-table {
    padding: 20px;
    border-radius: 5px;
    color: #ffffff;
}

.dnd-table table {
    width: 100%;
    border-collapse: collapse;
    background-color: #272727;
}

.dnd-table table th,
.dnd-table table td {
    text-align: center;
    padding: 7px;
    color: #fff;
    font-size: 16px;
}

.dnd-table table th {
    background-color: #1a1a1a;
    border-color: #0077c2;
    font-size: 16px;
}

.dnd-table table tr:nth-child(even) {
    background-color: #1a1a1a;
}

.dnd-table table tr:hover {
    background-color: #666;
}

.dnd-table .title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #0077c2;
}

.dnd-table .proficient label {
    color: #0077c2;
    font-weight: bold;
    font-size: 16px;
}

.dnd-table .ability-modifier {
    color: #0077c2;
    font-weight: bold;
}

/* Style for the list section */
.dnd-list {
    padding: 16px;
    margin-bottom: 16px;
}

.dnd-list h3 {
    font-size: 1.6rem;
    color: #00a8ff;
    margin-top: 0;
    margin-bottom: 15px;
}

.dnd-list ul {
    list-style: circle;
    padding: 0;
    margin: 0;
}

.dnd-list li {
    margin-left: 15px;
    margin-bottom: 10px;
    font-size: 16px;
}

/* Style for the list section */
.dnd-music {
    padding: 16px;
    margin-bottom: 16px;
}

.dnd-music h3 {
    font-size: 1.6rem;
    color: #00a8ff;
    margin-top: 0;
    margin-bottom: 15px;
}

.dnd-music ul {
    list-style: circle;
    padding: 0;
    margin: 0;
}

.dnd-music li {
    margin-left: 15px;
    margin-bottom: 10px;
    font-size: 16px;
}

/* Style for the info section */
.dnd-info {
    padding: 16px;
    margin-bottom: 16px;
}

.dnd-info h3 {
    font-size: 1.6rem;
    color: #00a8ff;
    margin-top: 0;
    margin-bottom: 15px;
}

.dnd-info h4 {
    font-size: 0.9rem;
    color: #00a8ff;
    margin-top: 10px;
    margin-bottom: 10px;
    font-style: italic;
    text-decoration: underline;
}

.dnd-info p {
    margin-top: 0;
    /* Remove top margin */
    margin-bottom: 0;
    /* Set desired gap between paragraphs */
    text-indent: 2em;
    /* Add indentation at the start of each paragraph */
}

.dnd-info .subsection {
    margin-top: 0;
    /* Remove top margin */
    margin-bottom: 10px;
    margin-left: 15px;
    /* Set desired gap between paragraphs */
    text-indent: 0em;
    /* Add indentation at the start of each paragraph */
}

.dnd-info .first-paragraph {
    text-indent: 0;
    /* Remove indentation for the first paragraph */
}

.dnd-info ul {
    list-style: circle;
    padding-left: 3em;
    /* Adjust padding to match paragraph indentation */
    margin: 0;
}

.dnd-info li {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 16px;
}

/* Style for the image section */
.dnd-image {
    display: inline-block;
    max-width: 75%;
    /* Adjust the max-width as needed */
    padding: 10px;
    /* Add some padding for spacing */
}

.dnd-image h3 {
    font-size: 1.4rem;
    color: #00a8ff;
    margin-top: 0;
    margin-bottom: 15px;
}

.dnd-image img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    /* Center the image horizontally */
    margin-top: 10px;
    margin-bottom: 15px;
}

.dnd-image-info {
    margin-top: 10px;
    width: auto;
    /* Add some space between the image and the info section */
}

.dnd-image-source a {
    width: auto;
    color: #00a8ff;
    /* Customize the link color */
    text-decoration: none;
    /* Remove underline */
}

.dnd-image-caption {
    font-style: italic;
    /* Italicize the caption text */
    margin-top: 5px;
    /* Add some space below the image caption */
}

.dnd-image-list {
    display: flex;
}

.dnd-image-list img {
    flex: 1;

    max-width: calc(100% / num_images);
    object-fit: cover;
}

.dnd-image-list a {
    margin-right: 5px;
    /* Adjust the margin value to set the desired spacing between images */
}

.dnd-image-list a:last-child {
    margin-right: 0;
    /* Remove the right margin from the last image to avoid extra space */
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.column-container {
    display: flex;
}

.column {
    flex: 1;
    margin: 0 10px;
}