/* General Styles */
html {
  color: #fff;
  background-color: #0d1117;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #bfbfbf;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  background-color: #1b212d;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

header a.logo {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

header nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

header nav li {
  margin-left: 30px;
}

header nav li:first-child {
  margin-left: 0;
}

header nav li a {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}

header nav li a:hover {
  color: #bfbfbf;
}

/* Main */
main {
  margin-top: 80px;
  padding: 50px;
}

/* Footer */
footer {
  background-color: #1b212d;
  color: #fff;
  font-size: 14px;
  padding: 20px;
  text-align: center;
}

footer a {
  color: #fff;
  text-decoration: underline;
}

footer a:hover {
  color: #bfbfbf;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #333;
  color: #fff;
}

.navigation a {
  color: #fff;
  text-decoration: none;
  margin-left: 10px;
  font-size: 18px;
}

.navigation a:hover {
  text-decoration: underline;
}

.navigation i {
  margin-right: 10px;
}