<!DOCTYPE html>
<html>
 <head>
  <title>
  </title>
 </head>
 <body>
  <div class="dnd-header">
   <h1>
    DMestros
   </h1>
  </div>
  <hr/>
  <div class="dnd-info">
   <h3>
    D'Mestros Time
   </h3>
   <p class="first-paragraph">
    "D'Mestros" is a unique time system crafted by the Dungeon Master (DM) and original creator of this DnD universe based on their inaugural role-playing campaign experience. This temporal framework is intricately intertwined with the events and lore of the DM's initial campaign(s), serving as a nostalgic homage to the creative genesis of their world. As players navigate this distinctive time system, they encounter echoes of the DM's past adventures, creating a dynamic and immersive gameplay experience that bridges the present with the DM's cherished gaming origins. Each moment in "DM'estros" is relative to the rest and can be correlated to any other in game time system. This system simply exists as an initial way of keeping track of time flow and continuity within the various stories.
   </p>
  </div>
  <hr/>
 </body>
</html>
