<head>
 <meta charset="utf-8"/>
 <title>
  DnD
 </title>
 %OPENAICSS%
 <!-- JavaScript to handle navigation buttons -->
 <script crossorigin="anonymous" src="https://kit.fontawesome.com/f3aa8d5630.js">
 </script>
 <script>
  function goBack() {
        window.history.back();
      }

      function goForward() {
        window.history.forward();
      }

      function goTo<a href="index.html">index</a>() {
        window.location.href = "./<a href="index.html">index</a>.html";
      }
 </script>
</head>
