<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8"/>
  <title>
   title
  </title>
  <link href="../css/mmorpdnd.css" rel="stylesheet"/>
  <!-- JavaScript to handle navigation buttons -->
  <script crossorigin="anonymous" src="https://kit.fontawesome.com/f3aa8d5630.js">
  </script>
  <script>
   function goBack() {
        window.history.back();
      }

      function goForward() {
        window.history.forward();
      }

      function goToIndex() {
        window.location.href = "./index.html";
      }
  </script>
 </head>
 <body>
  <div class="dnd-header">
   <h3>
    Settlement
   </h3>
  </div>
  <hr/>
  <!-- Top section for settlement information -->
  <div class="container">
   <div class="character-info">
    <h2>
     [name]
    </h2>
    <p>
     <i>
      [size] [type]
     </i>
    </p>
    <p>
     <i>
      <strong>
       Summary:
      </strong>
      [summary]
     </i>
    </p>
   </div>
   <div class="character-info">
    <a href="[image-url]">
     <img alt="[image-description]" class="character-img" src="[image-url]"/>
    </a>
   </div>
  </div>
  <hr/>
  <!-- Section for Demographics -->
  <div class="dnd-list">
   <h3>
    Demographics
   </h3>
   <ul>
    [demographics]
   </ul>
  </div>
  <hr/>
  <!-- Section for Economy -->
  <div class="dnd-list">
   <h3>
    Economy
   </h3>
   <ul>
    [economy]
   </ul>
  </div>
  <hr/>
  <!-- Section for Transportation -->
  <div class="dnd-list">
   <h3>
    Transportation
   </h3>
   <ul>
    [transportation]
   </ul>
  </div>
  <hr/>
  <!-- Section for Culture -->
  <div class="dnd-info">
   <h3>
    Culture
   </h3>
   <p>
    [culture information]
   </p>
  </div>
  <hr/>
  <!-- Section for Education -->
  <div class="dnd-info">
   <h3>
    Education
   </h3>
   <p>
    [education information]
   </p>
  </div>
  <hr/>
  <!-- Section for Government -->
  <div class="dnd-info">
   <h3>
    Government
   </h3>
   <p>
    [government information]
   </p>
  </div>
  <hr/>
  <!-- Section for Safety and Security -->
  <div class="dnd-info">
   <h3>
    Safety and Security
   </h3>
   <p>
    [safety and security information]
   </p>
  </div>
  <hr/>
  <!-- Section for Maps -->
  <div class="dnd-info">
   <h3>
    Maps
   </h3>
   <p>
    [maps]
   </p>
  </div>
  <hr/>
  <!-- Section for Notes -->
  <div class="dnd-info">
   <h3>
    Notes
   </h3>
   <p>
    [notes]
   </p>
  </div>
 </body>
</html>
